body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 1em;

}

.toolbar {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.material-icons {
  color: rgb(62, 62, 62);
  padding: 0.5rem;
  margin: 0.1rem;
  cursor: default;
  border-radius: 10%;
}

.material-icons:hover {
  background-color: #ced1d6;

}
